* {
  padding: 0;
  margin: 0;
}
:root {
  --text-color: white;
  --btn-color: #998675;
  --semi-bold: 600;
  --medium: 500;
  --text-brown-light-color: #d2c2ae;
  --text-brown-color: #c7b299;
  --text-gray-color: #474541;
  --text-gray-light-color: #d1d1d1;
  --bg-color: #fbfaf8;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Raleway", sans-serif;
}
.second-font {
  font-family: "Montserrat", sans-serif;
}
/* header */
.header {
  width: 100vw;
  height: 100vh;
  position: relative;
}
.header .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.header .carousel-indicators .active {
  border: 2px solid red;
}
.header__bg {
  background: url(../images/banner.png) no-repeat center center;
  background-size: cover;
  position: relative;
  z-index: -1;
  width: 100%;
  height: 100vh;
}
.header__mask,
.partner__mask {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.header__nav {
  position: absolute;
  top: 0;
  width: 100%;
}
.header__nav .container {
  padding: 2rem 3rem;
}
.header__logo {
  width: 18rem;
  height: 5.6rem;
}
.header__nav--icon {
  color: white;
  font-size: 35px;
}
.header__nav ul li a {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--text-color);
  margin: 0 1rem;
}
.nav__cart-icon,
.nav__search-icon {
  border: none;
  background: none;
  color: var(--text-color);
  font-size: 1.8rem;
  margin: 0 1rem;
}
.content {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.content__design {
  font-size: 3.6rem;
  font-weight: 500;
}
.content__template {
  font-size: 5.2rem;
  font-weight: 800;
}
.content__detail {
  font-size: 1.6rem;
  font-weight: 300;
}

.content__btn {
  background: var(--btn-color);
  margin: 2rem auto;
  padding: 0.5rem 2rem;
  border: 1px solid var(--btn-color);
  border-radius: 0.5rem;
  text-transform: uppercase;
  font-size: 1.4rem;
  color: white;
  font-weight: 800;
}
/* intro */
.intro__wrap {
  padding: 1rem 2.5rem;
}
.intro__icon {
  display: flex;
  justify-content: center;
  font-size: 2.4rem;
  margin-bottom: 1rem;
  margin-top: 4rem;
}
.intro__title,
.intro__detail {
  text-align: center;
}
.intro__title {
  font-weight: 600;
  font-size: 2.2rem;
}
.intro__detail {
  font-weight: 300;
  line-height: 2.4rem;
}

.bd-bottom::before {
  content: "";
  position: absolute;
  left: 40%;
  bottom: 0;
  height: 1px;
  width: 20%;
  border-bottom: 2px solid magenta;
}
.bd-bottom:hover::before {
  border-bottom: 2px solid green;
}
/* browser */
.browser {
  width: 100%;
  height: 100%;
  background: #fbfaf8;
  margin-top: 4rem;
  padding-top: 4rem;
}
.browser__title,
.browser__detail {
  text-align: center;
}
.browser__title {
  font-size: 3rem;
  font-weight: 600;
}
.browser__detail {
  font-size: 1.6rem;
  line-height: 2.8rem;
  font-weight: 300;
  padding: 0 16%;
}
.browser__img {
  width: 100%;
  height: 80%;
}
.browser__img img {
  width: 100%;
  height: 100%;
}
/* theme */
.theme {
  background: #241d1a;
}
.theme__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem 3rem;
}
.theme__content {
  color: var(--text-color);
}
.theme__title {
  font-weight: 400;
  font-size: 2.8rem;
  margin-bottom: 0;
}
.theme__detail {
  font-weight: 300;
  font-size: 1.8rem;
}
.theme__purchase {
  margin: auto 0;
}
.theme__purchase-btn {
  padding: 1rem 2rem;
  border: none;
  border-radius: 0.5rem;
  background: var(--btn-color);
  text-transform: uppercase;
  font-weight: 800;
  color: var(--text-color);
}
/* projects */
.projects {
  margin-top: 3rem;
}
.projects__title {
  text-align: center;
  font-size: 3rem;
  font-weight: var(--semi-bold);
}
.projects__detail {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;
  padding: 0 16%;
}
.projects__category {
  display: flex;
  justify-content: center;
}
.projects__category-btn {
  padding: 0.5rem 2rem;
  margin: 1.5rem 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #ebebeb;
  background: white;
}
.projects__category-btn:hover {
  background: var(--btn-color);
}
.projects__item {
  margin-bottom: 1.5rem;
}
.projects__item-img {
  height: 21rem;
  position: relative;
}
.projects__item-img img,
.post__img img {
  width: 100%;
  height: 100%;
}
.projects__item-title {
  font-weight: var(--medium);
  font-size: 2rem;
  color: var(--text-brown-color);
}
.projects__item-detail {
  font-weight: 300;
  font-size: 1.4rem;
  color: var(--text-gray-light-color);
}
.projects__item-img::before {
  content: "";
  position: absolute;
  bottom: 0;
  border-bottom: 12px solid white;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  left: 20px;
}
.project__item-content {
  background: var(--bg-color);
  padding: 2.5rem 0 1rem 3rem;
}
.projects__item--hover {
  display: flex;
}
.projects__item--icon {
  display: none;
  margin: auto;
}
.projects__item--icon i {
  font-size: 1.6rem;
  color: white;
  margin: 1rem;
}
.projects__item:hover .projects__item--hover {
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
}
.projects__item:hover .projects__item--icon {
  display: inline-block;
}
.projects__item:hover .project__item-content {
  background: #362f2d;
}
/* video */
.video {
  padding: 0;
}
.video__bg {
  z-index: -1;
  background: url(../images/play-video.png) no-repeat center center;
  background-size: cover;
}
.video__mask {
  display: flex;
  background: rgba(0, 0, 0, 0.6);
}
.video__description {
  margin: auto;
  padding: 10rem 0;
}

.video__play {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background: black;
  opacity: 0.5;
  display: flex;
  margin: 0 auto;
}
.video__play-btn {
  margin: auto;
  background: none;
  border: 2px solid white;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  padding-left: 0.2rem;
}
.video__play-mask {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: black;
  position: absolute;
  bottom: 0px;
  left: 3px;
}
.video__play-icon {
  color: white;
}
.video__title {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: var(--medium);
}
.video__detail {
  text-align: center;
  color: white;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 2.8rem;
}
.video__time {
  text-align: center;
  color: #c7b299;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 2.4rem;
}
/* mobile */
.mobile__bg {
  background: url(../images/phone-in-hand.png) no-repeat center center;
  background-size: cover;
  height: 100%;
  padding: 10rem 0;
}
.mobile__title {
  font-weight: var(--semi-bold);
  font-size: 3rem;
  color: #555555;
}
.mobile__detail,
.mobile__list {
  font-weight: 300;
  font-size: 1.6rem;
  color: #8c8c8c;
  line-height: 2.8rem;
}
.mobile__list {
  line-height: 3.2rem;
  padding-left: 6rem;
  padding-top: 2rem;
}
.mobile__list i {
  margin-right: 2rem;
  color: white;
}
.mobile__list .fas {
  color: #c7b299;
}
/* counters */
.counters {
  background: #261e1b;
  padding: 4rem 0;
}
.counters__content {
  padding: 1rem;
  position: relative;
}
.counters__icon {
  color: #c7b299;
  font-size: 3.4rem;
  text-align: center;
}
.counters__number {
  font-size: 4.8rem;
  line-height: 3.6rem;
  color: white;
  font-weight: 200;
  text-align: center;
}
.counters__name {
  font-size: 1.4rem;
  font-weight: 300;
  line-height: 2rem;
  text-align: center;
  color: #c7b299;
  text-transform: uppercase;
}
.counters__content::before {
  content: "";
  position: absolute;
  left: 42%;
  bottom: 0;
  height: 1px;
  width: 16%;
  border-bottom: 2px solid magenta;
}
.post .projects__item-img::before {
  display: none;
}
.post__calender {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
.post__date {
  background: #261e1b;
  font-size: 2.4rem;
  font-weight: 300;
  line-height: 2rem;
  color: white;
  padding: 5px 10px;
}
.post__month {
  /* font-family: roboto */
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
  color: white;
  background: #362f2d;
  padding: 5px 10px;
}
.projects__item:hover .post__date {
  background: #c7b299;
}
.projects__item:hover .post__month {
  background: #a48d72;
}
.post__readmore {
  color: #c7b299;
  font-size: 14pt;
  font-weight: 300;
  line-height: 20pt;
}
.post__readmore i {
  font-size: 9pt;
  color: #c7b299;
}
/* partner */
.partner {
  width: 100%;
  position: relative;
  z-index: -1;
  padding: 20rem auto;
  background: url(../images/partner_bg.png) no-repeat center center;
  background-size: cover;
}
.partner__logo {
  padding: 4rem 0;
}

.partner__logo img {
  width: 100%;
  height: 20rem;
  padding: 4rem;
}
.footer {
  padding: 4rem 0;
  background: #241d1a;
}
.footer__title {
  color: white;
  font-weight: 700;
  font-size: 22pt;
}
.footer__detail {
  color: white;
}
.footer__img {
  width: 100%;
}
.footer__dribble {
  padding: 2pt;
}
.footer__galery {
  padding: 0 13px;
}
.copyright__reverse {
  display: flex;
  flex-direction: row-reverse;
  color: white;
  font-size: 14px;
  padding: 0 30px;
}
.copyright {
  background: #040404;
  width: 100%;
  padding: 2rem 0;
}
.copyrightby {
  display: flex;
  margin-right: auto;
}
.designby {
  margin-left: auto;
}
